body{
    background: #2E8B57;
    color: white;
    font-family: "Josefin Slab", serif;
    display: flex;
    justify-content: center;   
    align-items: center;
    height: 700px;
    margin: 0;
}
button{
    background-color: #8a8a8a;
    color: white;
    font-family: "Josefin Slab", serif;
}

.passo{
    display: none;
}
.passo.ativo{
    display:block;
}

main{
    text-align: center;
    max-width: 90%;
}

img{
    max-width:  80%; ;
}